/* Your code here */



   body {
    zoom: 1.5;
  }
.pf{
  display: grid;
  grid-template-rows: (2, 1fr);
  grid-template-columns:(4, 1fr);
  grid-gap: 10em;
  margin-top: 100px;

}

.wgs__mole-head--whacked{
  border-radius: 50%;
  border: 3px   double darkblue;
  position: absolute;
  opacity: 0;
  animation: circle 1s ease-out;
  width: 10px;
  box-sizing: border-box;
  pointer-events: none;
  aspect-ratio: 1/1;
  transform: translateX(-50%) translateY(-50%);
}


@keyframes circle {
  0% {
    width: 10px;
    opacity: 1;
  }

  100% {
    width: 50px;
    opacity: 0.2;
  }
}




.wgs{
  height: 5px;
  width: 2px;
  position:relative;
  display:inline-block;
  margin: 0 auto;
  padding-right: 12em;
  padding-bottom: 5.5em;
overflow: hidden;



}
.wgs__mole-head{
  height: 50px;
  width: auto;
  position: absolute;
  left: 15px;



}
.wgs__dirt-pile{
  height: 35px;
  width: 88px;
  position: absolute;
  top:33px ;
}

.wgs__mole-head--hidden{
  margin-top: 100px;
  transition:0.15em;


}



.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.8);
}
.cir {
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}


/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
 .sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

 .sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}
